header{
    background-color: rgb(2, 2, 135);
    width: 100%;
    min-height: 60px;
    display: flex;
    color: white;
    letter-spacing: 1.5px;
    font-size: larger;
    text-align: center;
}


header h3
{
    margin-left: 25px;
}

.add
{
   margin-left: auto;
   margin-right: 30px;
   margin-top: 16px;
    
}

body
{
    margin: 0 auto;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.add button
{
    width: auto;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(248, 98, 4);
    color: rgba(255, 255, 255, 0.992);
    letter-spacing: 1.5px;
    font-size:medium;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    border: 1px solid  rgb(248, 98, 4);
    
}

.addMovie
{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin-top: 10px;
    display: none;
    background-color: white; /* Fondamentale, altrimenti è trasparente */
    z-index: 100;            /* Più alto del 10 del backdrop */
    position: relative;      /* Lo z-index funziona solo se la posizione non è static */
    padding: 20px;
    border-radius: 10px;
} 

input
{
    width: 420px;
    height: 28px;
    border-radius: 2px;
}

.cambiaColore
{
    background-color: rgb(249, 227, 198);
}

.addMovie button
{
    width: 90px;
    color: white;
    background-color: rgb(2, 2, 135);
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    border: none;
    padding: 6px;
    margin-top: 15px;
    
}

.addMovie button:hover
{
    width: 90px;
    color: white;
    background-color: rgb(2, 2, 135);
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    border: none;
    background-color: rgb(248, 98, 4);
    cursor: pointer;
}

.button
{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    cursor: pointer;
    width: 428px;
    
}

.containerMovie
{
    display: grid;
    place-items: center;
    margin-top: 50px;
    
    
}

.mostra-modulo {
    display: flex !important; 
    position: fixed;        
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex !important; 
    position: fixed;         /* Lo blocca al centro dello schermo */
    width: fit-content;
}

.nascosto
{
    display: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

.backdrop-visible {
  display: block;
  pointer-events: all;
  
}


.container-poster
{
    width: 85%;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(232, 225, 225);
    margin: 0 auto ;
    justify-content: left;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
   
    
}

.container-poster img
{
    width: 75%;
    height: 100%;
    border-radius: 10px;
}

.info
{
    display: flex;
    flex-direction: row;
    width: 300px;
}

.info h2
{
    width: 300px;
}


#movie-list:empty::before {
    content: "Nessun film aggiunto. Clicca su ADD MOVIE!";
    display: block;
    text-align: center;
    margin-top: 50px;
    color: grey;
}

.spacing
{
    margin-left: 30px;
}

.raiting
{
    background-color:  rgb(248, 98, 4) ;
    color: white;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    text-align: center;
    justify-content: center;
   display: flex;
}