*
{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    padding: 0;
    box-sizing: border-box; 
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden; //regola fondamentale per evitare lo scroll orizzontale e per il design responsive
}


.navbar
{
    box-sizing: border-box;
    background-color: #1e1e2e;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 15px;
    color: white;
    gap: 20px;
    margin: 0 auto;
}

.checkbox
{
   display: flex;
   margin-left: auto;
   justify-content: flex-end;
   color: white;
    gap: 10px;
    margin-right: 15px;
}



.logo
{
    border-radius: 50px;
    height: 100px;
    width: 80px;
    margin-left: 15px;
}


.Qcontainer
{
    background-color:rgba(255, 255, 255, 0.096);
    width: auto;
    height: auto;
    padding: 18px;
    border-radius: 20px;
    margin-left: 100px;
}



.btn-modern {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #6f70c7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1)
}

.btn-modern:hover {
  background-color: #4f46e5;
  transform: translateY(-2px); /* Si alza leggermente */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.container-grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 25px auto;
    max-width: 1400px;
    
}

.cards, .card1, .card6, .card3{
    
    width: 100%; 
    height: 400px;
}

.cards
{
    background-color: #4f46e5;
}

.card1{
   grid-column: span 3; 
    background-color: #3498db;
    border-radius: 8px;
}
.card4{
   grid-row: span 2; 
    background-color: #3498db;
    border-radius: 8px;
    width: 100%;  
    height: 100%;
}

.card6{
   grid-column:span 2; 
    background-color: #3498db;
    border-radius: 8px;
}

.card3{
   grid-column: span 4; 
    background-color: #3498db;
    border-radius: 8px;
}


.D-mode .card3 {
    background-color: #000000;
}

.D-mode .card1 {
    background-color: #000000;
}
.D-mode .card6 {
    background-color: #000000;
}
.D-mode .card4 {
    background-color: #000000;
}


body.D-mode {
    background-color: #0f172a;
    color: white;
}

.container-cards
{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin:20px;
    padding: 10px;
    gap: 25px;

}

.text-cards
{
    background-color: rgba(236, 235, 235, 0.84);
    width: 350px;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(70, 69, 69);
    justify-content: center;
    line-height: 26px;
    list-style-position: inside;
    margin-bottom: 30px;
}

.ImgJs
{
    width: 350px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}