.color
{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.color.active
{
    background-color: blueviolet;
}

.positioning
{
    display: flex;
    justify-content: center;
    align-items: center;
}



button
{
    display: flex;
}